@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #231E23;
  padding: 0;
  margin: 0
}

#video-container {
  position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 100vh;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
	padding: 0;
	margin: 0
}

.both-centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.horizontal-centered {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
